{% load static %}
<link href="{% static 'default/styles.css' %}" rel="stylesheet">

<body class="brand black window" style="height: 50%;">
    <form class="window" method="post" action="{% url 'login' %}" style="max-width: 250px; margin: 0 auto;">
        {% csrf_token %}
        <div id="login-container" style="display: flex; justify-content: center; align-items: center; height: 30px;">
            <img id="login-logo" src="{% static 'default/logotype/logo.svg' %}" class="white_filter" style="width: 80px; transition: width 1s ease;">
            <p id="login-text" style="color: white; font-size: 0px; margin-left: 10px; transition: font-size 1s ease;">Вход</p>
        </div>
        <div style="margin: 50px auto;">
            <div>
                <input type="username" name="username" placeholder="Как Вас зовут?" class="input-text" style="height: 40px;">
                <input type="password" name="password" placeholder="Введите пароль" class="input-text" style="height: 40px;">
            </div>
        </div>
        <input class="loginButton" type="submit" value="Войти">
    </form>
</body>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const logo = document.getElementById('login-logo');
  const text = document.getElementById('login-text');

    function animateElements() {
     setTimeout(() => {
            logo.style.width = '50px';
            text.style.fontSize = '50px';
      }, 500);
    }

  animateElements();
});
</script>