{% extends 'flatpages/default.html' %} 

{% load static %}

{% block content %}
<body class="body-style">
    <div class="messages" id="chat-messages">
        {% if messages %}
            {% for message in messages %}
                {% if message.user == request.user %}
                    <div class="message">
                        <div>
                            <div style="display: flex; justify-content: space-between; margin: 0px;">
                                <a href="/profile/{{ message.user.id }}/" style="color: rgb(136, 239, 255);">
                                    <div style="display: flex; align-content: center;">
                                        <img src="{{ message.user.avatars.first.path.url }}" class="avatar" style="width: 40px;">
                                        <p style="font-weight:bold;"> {{ message.user.first_name }} {{ message.user.last_name }}</p>
                                    </div>
                                </a>
                                <p> {{ message.date_added|date:"H:i e" }} </p>
                            </div>
                            <p style="color: white; padding: 4px; font-size: large; max-width: none;"> {{ message.text }} </p>
                        </div>
                    </div>
                {% else %}
                    <div class="message" style="background-color: rgb(83, 83, 83);">
                        <div style="display: flex; justify-content: space-between; margin: 0px;">
                            <a href="/profile/{{ message.user.id }}/" style="color: white;">
                                <div style="display: flex; justify-content: center;">
                                    <img src="{{ message.user.avatars.first.path.url }}" class="avatar" style="width: 30px; height: 30px;">
                                    {% if message.user.is_superuser %}        
                                        <p style="font-weight:bold; color: gold;""> {{ message.user.first_name }} {{ message.user.last_name }}</p>
                                    {% else %}
                                    <p style="font-weight:bold;"> {{ message.user.username }} </p>
                                    {% endif %}
                                </div>
                            </a>
                            <p> {{ message.date_added|time }} </p>
                        </div>
                        <p style="color: white; padding: 4px; font-size: large; max-width: none;"> {{ message.text }} </p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="message" style="background-color: rgb(142, 55, 55);">
                <div>
                    <p style="font-weight:bold;"> System </p>
                </div>
                <p style="color: white;"> Привет. Напиши своё первое сообщение в группе <b style="font-weight: 700;">{{ group.name }}</b> </p>
            </div>
        {% endif %}
        
    </div>
    <form style="display:flex; justify-content:center;" method="POST" action="." style="display:flex;">
        <!-- {% csrf_token %} -->
        <div class="writer">
            <input class="input-text" type="text" name="content" placeholder="Написать сообщение..." id="chat-message-input">
            <button class="button-submit" id="chat-message-submit">
                <img style="display:flex; justify-content: center; width: 25px;" src="{% static 'default/fly.svg' %}">
            </button>
        </div>
    </form>
</body>

{% block scripts %}

{{ group.slug|json_script:"json-roomname"}}
{{ request.user.username|json_script:"json-username" }}
<script>
    const groupName = JSON.parse(document.getElementById('json-roomname').textContent)
    const userName = JSON.parse(document.getElementById('json-username').textContent)

    const chatSocket = new WebSocket(
        'ws://'
        + 'localhost:8080'
        + '/gr/'
        + groupName
        + '/'
    );

    // Добавляем сообщение на клиенте
    chatSocket.onmessage = function(e) {

        const data = JSON.parse(e.data);
        
        if (data.message.length > 0) {
            let html = '<div class="message">';
                    html += '<div style="display: flex; justify-content: space-between; margin: 0px">';
                        html += '<a href="/profile/' + data.id + '" style="color: rgb(136, 239, 255);">';
                            html += '<div style="display: flex; align-content: center;">';
                                html += '<img src="' + data.avatar_path + '" alt="Аватар" class="avatar" style="width: 30px;">';
                                // html += '<p style="font-weight:bold;">' + data.username + '</p>';
                                html += '<p style="font-weight:bold;">' + data.first_name + ' ' + data.last_name + '</p>';
                            html += '</div>';
                        html += '</a>';
                        html += '<p>' + getCurrentTime() + '</p></div>';
                html += '<p style="color: white; padding: 4px; font-size: large; max-width: none;">' + data.message + '</p></div>';
                
            document.querySelector('#chat-messages').innerHTML += html;
            scrollToBottom()
        }
    }

    chatSocket.onopen = function(e) {
        console.log('connected')
    }

    chatSocket.onclose = function(e) {
        console.log('connection has closed')
    }

    // Отправляем сообщение на сервер
    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        if (message.length > 0){
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'group': groupName,
            }));

            messageInputDom.value = '';
        }

        return false;
    }

    // Получаем настоящее время на клиенте
    function getCurrentTime() {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, 0);
        const minutes = now.getMinutes().toString().padStart(2, 0);
        return `${hours}:${minutes}`;
    }

    // Прокручиваем сообщения вверх
    function scrollToBottom() {
        const objDiv = document.querySelector('#chat-messages');
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    scrollToBottom();
</script>
{% endblock %}
{% endblock %}
