{% extends 'flatpages/default.html' %} 

{% load static %}
{% load filters %}

{% block content %}
<body class="body-style">
  <div class="window">
    <div class="groups">
      <div style="display: flex; justify-content: space-between; padding: 0px 20px;">
        <h1 style="font-size: 30px;">Чаты</h1>
        <a href="/chats/search/" style="display: flex; justify-content: center; margin: auto 0; width: 35px; height: 35px; border-radius: 5px; background-color: rgb(86, 79, 192);">
            <img src="{% static 'default/search.svg' %}" class="white_filter" style="width: 25px;">
        </a>
      </div>
      {% for chat in chats %}
        <a href="{% url 'chat' chat.id %}">
          <div class="group">
            <p style="color: rgb(255, 255, 255);">{{ chat.user.first_name }} {{ chat.user.last_name }}</p>
            <img class="white_filter" src="{% static 'default/arrow_right.svg' %}" width="10px">
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}