{% extends "flatpages/default.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="window" style="width: 300px;">

        <div style="display: flex; flex-direction: row; justify-content: center;">
            <img class="avatar" style="width: 100px; height: 100px; margin: auto;" src="/{{ avatar_form.path.value }}" >
            <div>
                <input class="input-text" style="background-color: rgba(255, 255, 255, 0); color: black;" type="text" name="first_name" value="{{ user_form.first_name.value }}" maxlength="18" id="id_first_name">
                <input class="input-text" style="background-color: rgba(255, 255, 255, 0); color: black;" type="text" name="last_name" value="{{ user_form.last_name.value }}" maxlength="18" id="id_last_name">
            </div>
        </div>
        <!-- <p>Юзернейм</p> -->
        <input class="input-text" style="background-color: rgba(255, 255, 255, 0); color: black;"  type="text" name="username" value="{{ user_form.username.value }}" maxlength="24" id="id_username">
        {{ avatar_form.path }}
        
        <input type="submit" value="Сохранить">
    </div>

</form>

{% endblock %}