<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block static %}
        <link href="{% static 'default/styles.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<div>
    {% if user.is_authenticated %}
        <div class="navbar-brand" style="height: 50px;">
            <div class="box">
                <a class="text_color" href="/chats/">
                    <p>Чаты</p>
                </a>
                <hr>
                {% if group %}
                <a style="color: rgba(169, 169, 169, 0.692);" href="/groups/">
                    <span>{{ group.name }}</span>
                </a>
                {% else %}
                <a class="text_color" href="/groups/">
                    <span>Группы</span>
                </a>
                {% endif %}
                <hr>
                <a style="color:rgb(212, 226, 86)" href="/profile/{{ user.id }}">
                    <span>{{ user.username }}</spanp>
                </a>
            </div>
        </div>
        {% endif %}
    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</html>
